<!DOCTYPE HTML>
<html>
    <head>
        <title> test </title>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='styles/clock.css') }}">
    </head>

    <body>
        <div id="clock">
            00:00:00
        </div>

        <script>
            function zero_pad(num) {
              if (!num) { return "00"}
              else if (num<10) { return "0"+num }
              else { return num }
            }


            document.addEventListener("DOMContentLoaded", function() {
              function set_time() {
                  var clock_div = document.getElementById("clock")

                  var current_date = new Date();
                  var hours = zero_pad(current_date.getHours())
                  var minutes = zero_pad(current_date.getMinutes())
                  var seconds = zero_pad(current_date.getSeconds())

                  var date_clock =  hours + ":" + minutes + ":" + seconds

                  clock_div.innerHTML = date_clock;
                }


                setInterval(set_time, 1000);
            });
        </script>
    <h1>this the home page<br></h1>
    <h2>navigation:</h2>
    <nav><a href="{{ url_for('static',filename='page_2.html') }}"> page 2 </a></nav>
    <p>date: {{day}}<br>time: {{time}} <br></p>
    {% block content %}
    <div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset>
                <div>
                {{ form.timezone.label(class = "form-control-label") }}
                {{ form.timezone(class="form-control form-control-lg") }}
                </div>
            </fieldset>
            <div>
                {{ form.submit(class = "btn btn-outline-info") }}
            </div>
        </form>
    </div>
    {% endblock content %}
    </body>
</html>