<!DOCTYPE HTML>
<html>
    <head>
        <title> test </title>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='styles/clock.css') }}">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
                integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
                crossorigin=""/>
        <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
                integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
                crossorigin="">
        </script>
    </head>

    <body>
        <h3>Current Time in your Location: </h3>
        <div id="clock">
            00:00:00
        </div>

        <script>
            function zero_pad(num) {
              if (!num) { return "00"}
              else if (num<10) { return "0"+num }
              else { return num }
            }


            document.addEventListener("DOMContentLoaded", function() {
              function set_time() {
                  var clock_div = document.getElementById("clock")

                  var current_date = new Date();
                  var hours = zero_pad(current_date.getHours())
                  var minutes = zero_pad(current_date.getMinutes())
                  var seconds = zero_pad(current_date.getSeconds())

                  var date_clock =  hours + ":" + minutes + ":" + seconds

                  clock_div.innerHTML = date_clock;
                }


                setInterval(set_time, 1000);
            });
        </script>
    <h1>this the home page<br></h1>
    <h2>navigation:</h2>
    <nav><a href="{{ url_for('static',filename='page_2.html') }}"> page 2 </a></nav>
    <p>date: {{day}}<br>time: {{time}} <br></p>
     <label for="timezones">list of timezones you can type in: </label>
        <select> name="locations"
        {% for i in options %}
            <option value="{{i}}">{{i}}</option>
        {% endfor %}
        </select>
    {% block content %}
    <div class="formbox">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset>
                <div>
                {{ form.timezone.label(class = "form-control-label") }}
                {{ form.timezone(class="form-control form-control-lg") }}
                </div>
            </fieldset>
            <div>
                {{ form.submit(class = "btn btn-outline-info") }}
            </div>
        </form>
    </div>
    {% endblock content %}
        <h3>map:</h3>
           <div id="map">
       <script>
           var map = L.map('map').setView([51.505, -0.09], 13);

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

L.marker([51.5, -0.09]).addTo(map)
    .bindPopup('A pretty CSS3 popup.<br> Easily customizable.')
    .openPopup();
           </script>
       </div>
    </body>
</html>